html {
  height: 100%;
  max-height: 30vh;
}

body {
  padding-top: 40px;
  /*height: 100%;*/
  max-height: 30vh;
  font-family: Montserrat;
  background-color: #333232;
}

.well {
  /*background-color: #F7F9F9;*/
  /* white because some of the images don't have transparent backgrounds */
  background-color: #FFFFFF;
  border-style: none;
}

#size, #size option, #quantity {
  background-color: #333232;
  color: #B7B7B7;
}

#order-btn, #new-order {
  background-color: #CA907E;
}

#checkout {
  display: none;
}

#size-error {
  display: none;
  color: red;
}
